{% extends "base.html" %}

{% block title %} My Account {% endblock %}

{% block content %}
    <section>
        <div class="container justify-content-center" style="width: auto; margin-top: 2%;">
            <div class="border mt-3 bg-white rounded-3">
                <div class="row py-2">
                    <div class="col-auto m-0 px-4 ps-4">
                        <a href="{{ url_for('home') }}"><i style="font-size: 2.5rem;"
                                class="bi bi-arrow-left-circle-fill"></i></i></a>
                    </div>
                    <div class="col-auto my-auto p-0">
                        <p class="fs-5 fw-semibold">{{ data.student_id }}</p>
                        <span class="fw-lighter fs-6">{{ data.student_email }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-5">
            <div class="bg-white border rounded-3">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button style="font-size: 14px; color: #000" class="nav-link active fw-bold" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                            type="button" role="tab" aria-controls="nav-home" aria-selected="true">Student Profile</button>
                        <button style="font-size: 14px; color: #000" class="nav-link fw-bold" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Update Details</button>
                        <button style="font-size: 14px; color: #000" class="nav-link fw-bold" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                            type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Change Password</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <!-- ** Student Profile -->
                    <div class="tab-pane fade show active mb-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                        tabindex="0">
                        <!-- ** Student Info -->
                        <div class="container pt-5">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                            Student Info
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <!-- ** Row 1 -->
                                        <div class="container px-3">
                                            <div class="student-profile mt-4">
                                                <span>Name</span>
                                                {% set title = '' %}
                                                {% if data.gender == 'Male' %}
                                                    {% set title = 'Mr.' %}
                                                {% else %}
                                                    {% set title = 'Ms.' %}
                                                {% endif %}
                                                <p><b>{{ title }} {{ data.first_name }}, {{ data.last_name }} {{ data.other_name }}</b></p>
                                            </div>
                                        </div>

                                        <!-- ** Row 2 -->
                                        <div class="container px-3">
                                            <div class="row g-3">
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Index Number</span>
                                                        <p><b>{{ data.student_id }}</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Gender</span>
                                                        <p><b>{{ data.gender }}</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Level</span>
                                                        <p><b>{{ data.level }}</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- ** Row 3 -->
                                        <div class="container px-3">
                                            <div class="row g-3">
                                                <div class="col-md-8 ">
                                                    <div class="student-profile">
                                                        <span>Programme</span>
                                                        <p><b>{{ data.degree_programmes }}</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Session</span>
                                                        <p><b>{{ data.student_type }}</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- ** Row 4 -->
                                        <div class="container px-3">
                                            <div class="row g-3">
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Mobile Number</span>
                                                        <p><b>{{ data.phone }}</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Personal Email</span>
                                                        <p><b>{{ data.email }}</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Has Completed</span>
                                                        <p><b>No</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- ** Row 5 -->
                                        <div class="container px-3">
                                            <div class="row g-3">
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Has Graduated</span>
                                                        <p><b>No</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Alternative Email</span>
                                                        <p><b>{{ data.email }}</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Student Type</span>
                                                        {% set type = '' %}
                                                        {% if data.student_type == 'Morning' %}
                                                            {% set type = 'Regular' %}
                                                        {% elif data.student_type == 'Evening' %}
                                                            {% set type = 'Evening' %}
                                                        {% else %}
                                                            {% set type = 'Weekend' %}
                                                        {% endif %}
                                                        <p><b>{{ type }}</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- ** Row 6 -->
                                        <div class="container px-3">
                                            <div class="row g-3">
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Educational Level</span>
                                                        <p><b>4211210000</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Date of Admission</span>
                                                        <p><b>{{ data.enrollment_date }}</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Cohort</span>
                                                        <p><b>{{ cohort }}/{{ data.enrollment_date.split('-')[0] }}</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- ** Row 7 -->
                                        <div class="container px-3">
                                            <div class="row g-3">
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Date of Completion</span>
                                                        <p><b>{{ data.graduation_date }}</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Current Semester</span>
                                                        <p><b>First Semester</b></p>
                                                    </div>
                                                </div>
{#                                                <div class="col-md-4 ">#}
{#                                                    <div class="student-profile">#}
{#                                                        <span>Level</span>#}
{#                                                        <p><b>100</b></p>#}
{#                                                    </div>#}
{#                                                </div>#}
                                            </div>
                                        </div>

{#                                        <!-- ** Row 8 -->#}
{#                                        <div class="container px-3">#}
{#                                            <div class="row g-3">#}
{#                                                <div class="col-md-4 ">#}
{#                                                    <div class="student-profile">#}
{#                                                        <span>Index Number</span>#}
{#                                                        <p><b>4211210000</b></p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="col-md-4 ">#}
{#                                                    <div class="student-profile">#}
{#                                                        <span>Gender</span>#}
{#                                                        <p><b>Non Binary</b></p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="col-md-4 ">#}
{#                                                    <div class="student-profile">#}
{#                                                        <span>Level</span>#}
{#                                                        <p><b>100</b></p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{##}
{#                                        <!-- ** Row 9 -->#}
{#                                        <div class="container px-3">#}
{#                                            <div class="row g-3">#}
{#                                                <div class="col-md-4 ">#}
{#                                                    <div class="student-profile">#}
{#                                                        <span>Index Number</span>#}
{#                                                        <p><b>4211210000</b></p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="col-md-4 ">#}
{#                                                    <div class="student-profile">#}
{#                                                        <span>Gender</span>#}
{#                                                        <p><b>Non Binary</b></p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                                <div class="col-md-4 ">#}
{#                                                    <div class="student-profile">#}
{#                                                        <span>Level</span>#}
{#                                                        <p><b>100</b></p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{##}
{#                                        <!-- ** Row 10 -->#}
{#                                        <div class="container px-3 pb-4">#}
{#                                            <div class="row g-3">#}
{#                                                <div class="col-md-4 ">#}
{#                                                    <div class="student-profile">#}
{#                                                        <span>Index Number</span>#}
{#                                                        <p><b>4211210000</b></p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ** Emergency Contact -->
                        <div class="container pt-5">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                            Emergency Contact
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                        aria-labelledby="panelsStayOpen-headingOne">
                                        <!-- ** Row 1 -->
                                        <div class="container px-3 pt-3">
                                            <div class="row g-3">
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Emergency Contact Name</span>
                                                        <p><b>Not Provided</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Emergency Contact Mobile</span>
                                                        <p><b>Not Provided</b></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div class="student-profile">
                                                        <span>Emergency Contact Email</span>
                                                        <p><b>Not Provided</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- ** Row 2 -->
                                        <div class="container px-3 pb-4">
                                            <div class="student-profile mt-4">
                                                <span>Emergency Contact Address</span>
                                                <p><b>Not Provided</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ** Update Details -->
                    <div class="tab-pane fade mb-5" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                        tabindex="0">
                        <div class="container mt-5 p-4 border rounded-3">
                            <h5 class="mb-5"><b>Update Account Details</b></h5>

                            <div class="mb-3">
                                <form class="row g-2">
                                    <div class="col-12">
                                        <label style="font-size: 14px;" for="" class="form-label p-0 m-0 fw-bold">Emergency
                                            Contact Name *</label>
                                        <input style="line-height: 2;" type="text" placeholder="Emergency Contact Name"
                                            class="form-control" id="">
                                    </div>
                                    <div class="col-md-6">
                                        <label style="font-size: 14px;" for="" class="form-label p-0 m-0 fw-bold">Emergency
                                            Contact Mobile *</label>
                                        <input style="line-height: 2;" type="text" placeholder="Emergency Contact Mobile"
                                            class="form-control" id="">
                                    </div>
                                    <div class="col-md-6">
                                        <label style="font-size: 14px;" for="" class="form-label p-0 m-0 fw-bold">Emergency
                                            Contact Email *</label>
                                        <input style="line-height: 2;" type="text" placeholder="Emergency Contact Email"
                                            class="form-control" id="">
                                    </div>
                                    <div class="col-12">
                                        <label style="font-size: 14px;" for="" class="form-label p-0 m-0 fw-bold">Emergency
                                            Contact Address *</label>
                                        <input style="line-height: 2;" type="text" placeholder="Emergency Contact Address"
                                            class="form-control" id="">
                                    </div>
                                    <div class="col-md-6">
                                        <label style="font-size: 14px;" for="" class="form-label p-0 m-0 fw-bold">Alternative
                                            Email</label>
                                        <input style="line-height: 2;" type="text" placeholder="Alternative Email"
                                            class="form-control" id="">
                                    </div>
                                    <div class="col-md-6">
                                        <label style="font-size: 14px;" for="" class="form-label p-0 m-0 fw-bold">Emergency
                                            Contact Email *</label>
                                        <input style="line-height: 2;" type="text" placeholder="Emergency Contact Email"
                                            class="form-control" id="">
                                    </div>
                                    <div class="col-12 text-center pt-4">
                                        <button type="submit" class="btn btn-primary px-5 py-2 rounded-1">Update
                                            Information</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- ** Update Password -->
                    <div class="tab-pane fade mb-5" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"
                        tabindex="0">
                        <div class="container p-4 mt-5 border rounded-3">
                            <h5 class="mb-5"><b>Change Password</b></h5>

                            <div class="mb-3">
                                <form class="row g-2">
                                    <div class="col-12">
                                        <input style="line-height: 2;" type="password" placeholder="Current Password"
                                            class="form-control" id="">
                                    </div>
                                    <div class="col-12">
                                        <input style="line-height: 2;" type="password" placeholder="New Password"
                                            class="form-control" id="">
                                    </div>
                                    <div class="col-12">
                                        <input style="line-height: 2;" type="password" placeholder="Confirm new password"
                                            class="form-control" id="">
                                    </div>
                                    <div class="col-12 text-center pt-4">
                                        <button type="submit" class="btn btn-primary px-3 py-2 rounded-1">Change
                                            Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}